@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family:'Noto Serif', serif;
    color: #333333;
}

nav {
    background-color: #DAFF35;
    text-align: center;
}

main {
    margin: auto;
    padding: 1rem;
    max-width: 600px;
}

textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 20vh;
    margin-top: 2rem;
    font-size: large;
    font-family: inherit;
}

button {
    background-color: #DAFF35;
    border: none;
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    font-family: 'Kalam', cursive;
    font-size: large;
    border-radius:15px
}


#output {
    box-sizing: border-box;
    width: 100%;
    min-height: 10vh;
    max-height: 20vh;
    overflow:scroll;
    border: 1px solid #333333;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: #DAFF35;
    text-align: center;
}

footer p {
    max-width: 600px;
    margin: auto;
}
.footerheading {

font-size: x-large;
}

::placeholder{
    font-size: small;
    
}